export GIT_AUTHOR_EMAIL=179966117+jellocodes@users.noreply.github.com
export GIT_COMMITTER_EMAIL=179966117+jellocodes@users.noreply.github.com
export GIT_COMMITTER_NAME="Jonathan Wong"
export GIT_AUTHOR_NAME="Jonathan Wong"
